.nav {
    padding: 5px;
    text-align: center;
    /* Testing color */
    background-color: cornflowerblue;
}

.nav-list {
    list-style: none;
    font-size: 20px;

}

.nav-list-item {
    display: inline;
    padding: 10px;
}