{% extends 'layouts/general.html' %}
{% block title %}Sign Up{% endblock %}
{% block contents %}
    <h1>Create your account</h1>
    <form class="w3-half" action="" method="POST">
        {{ form.hidden_tag() }}

        {{ form.username.label(class_='w3-text-blue') }}{{ form.username(class_='w3-input w3-border w3-round') }}
        {% for error in form.username.errors %}
            <p class="w3-text-red">{{ error }}</p>
        {% endfor %}

        {{ form.email.label(class_='w3-text-blue') }}{{ form.email(class_='w3-input w3-border w3-round') }}
        {% for error in form.email.errors %}
            <p class="w3-text-red">{{ error }}</p>
        {% endfor %}

        {{ form.password.label(class_='w3-text-blue') }}{{ form.password(class_='w3-input w3-border w3-round') }}
        {% for error in form.password.errors %}
            <p class="w3-text-red">{{ error }}</p>
        {% endfor %}

        {{ form.confirm_password.label(class_='w3-text-blue') }}{{ form.confirm_password(class_='w3-input w3-border w3-round') }}
        {% for error in form.confirm_password.errors %}
            <p class="w3-text-red">{{ error }}</p>
        {% endfor %}

        {{ form.submit(class_='w3-button w3-round w3-blue w3-margin-bottom w3-margin-top') }}
        {% if success %}
        <p class="w3-right w3-text-green" style="display: inline">
            Your account is created, click
            <a href="{{ url_for('auth.login') }}" style="text-decoration: none"><b>Here</b></a>
            to login.
        </p>
        {% endif %}
    </form>
{% endblock %}