/* HEADER */

* {
	margin: 0;
	padding: 0;
}

#header .wrapper {
	width: 100%;
	margin: 30px auto;
}
#header .home_store_header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
	text-align: center;
}

#header .home_store_header_fl_item{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    #header .home_store_header .wrapper nav {
	    float: right;
        width: 100%;
    }
}
#header .home_store_header .wrapper nav a {
	text-decoration: none;
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
	margin: 20px;
	color: #fff;
}
#header .home_store_header .wrapper nav a:hover{
    color: lightblue;
}

/* HEADER END */
/* MAIN */
/* MAIN END */
/* FOOTER */

*{
    margin: 0;
    padding: 0;
}

#footer .footer1 {
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background: #262626;
    margin-top: 20px;
}

#footer .footer1 .footer_content a{
    text-decoration: none;
    color:#fff ;
    font-size: 1.5rem;
}

#footer .footer1 .footer_content{
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

#footer .footer1 .footer_content {
    display: flex;
    justify-content: center;

}
#footer .footer1 .footer_content li {
    list-style: none;
    padding: 20px;
}

#footer .footer1 .footer_content a:hover{
    color: lightblue;
}

#footer .footer1 .copyright{
    font-size: 1rem;
    color: lightcoral;
}

#footer .footer1 .copyright{
    display: flex;
    justify-content: center;
}

/* FOOTER END */