@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  color: #333;
  background: #fcfcfc;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.tos_header{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  background: #24B7DB;
  color: black;
  margin: auto;
  padding: 20px;
}
