

.content {
  width: 60%;
  margin-left: 20%;
}

.header {
  text-align: center;
  font-size: 30px;
}


/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.radio {
  display: inline;
}

.f_password {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}


/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
.submit_button {
  background-color: #4CAF52;
  color: white;
  padding: 10px 25px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.submit_button:hover {
  background-color: white;
	color: #4CAF52;
	border: 1px solid #4CAF52;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 769px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* FOOTER */

*{
  margin: 0;
  padding: 0;
}

#footer .footer1 {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #262626;
}

#footer .footer1 .footer_content a{
  text-decoration: none;
  color:#fff ;
  font-size: 1.5rem;
}

#footer .footer1 .footer_content{
  width: 100%;
  margin: 0;
  padding: 0 20px;
}

#footer .footer1 .footer_content {
  display: flex;
  justify-content: center;

}
#footer .footer1 .footer_content li {
  list-style: none;
  padding: 20px;
}

#footer .footer1 .footer_content a:hover{
  color: lightblue;
}

#footer .footer1 .copyright{
  font-size: 1rem;
  color: lightcoral;
}

#footer .footer1 .copyright{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}


/* FOOTER END */