<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fees</title>
    </head>
    <link rel="stylesheet" href="../../../css/fees.css" type="text/css">
    <link rel="stylesheet" href="../../../css/index.css">
    <body>
        <header id="header_main">
            <div class="logo">
                <h1>Mall-site</h1>
            </div>
            <!-- Navigation bar -->
            <div class="nav">
                <ul class="nav-list">
                    <li class="nav-list-item"><a href="index.html">Home</a></li>
                    <li class="nav-list-item"><a href="aboutus.html">About Us</a></li>
                    <li class="nav-list-item"><a href="fees.html">Fees</a></li>
                    <li class="nav-list-item"><a href="../../../my_account/my_account.php" id="my_account_button">My Account</a></li>
                    <li class="nav-list-item"><a href="#">Browse</a></li>
                    <li class="nav-list-item"><a href="faq.html">FAQs</a></li>
                    <li class="nav-list-item"><a href="contact.html">Contact</a></li>
                    <li class="nav-list-item"><a href="../../../my_account/login.php">Login</a></li>
                    <li class="nav-list-item"><a href="../my_account/signup.php">Sign-up</a></li>
                    <li class="nav-list-item"><a href="shopping_cart.html">Shopping Cart</a></li>
            
                </ul>
            </div>
            </header>
        <main>
            <h1>Fees</h1>
            <!--Information is based on: https://app.xtensio.com/design/ax2obbok#planslist -->
            <div class="premium-member-container">
                <h2>Premium Member</h2>
                <p>Paid monthly</p>
                <p>For users who wants to experience premium features of mall-site</p>
                <p><span class="price-premium-monthly">30</span>$/month</p>
                <ul class="list-features">
                    <li>Freely access all features of mall-site</li>
                    <li>Own a personal customer service and hotline</li>
                    <li>Brand new deals and promotions</li>
                    <li>Front page advertisement priortized</li>
                    <li>And many many more...</li>
                </ul>
            </div>

            <div class="vip-member-container">
                <h2>VIP Member</h2>
                <p>Paid yearly</p>
                <p>For users who wants to get the most of the premium features of mall-site</p>
                <p><span class="price-premium-monthly">24</span>$/month</p>
                <ul class="list-features">
                    <li>Freely access all features of mall-site</li>
                    <li>Own a personal customer service and hotline</li>
                    <li>Brand new deals and promotions</li>
                    <li>Front page advertisement priortized</li>
                    <li><span class="VIP">VIP</span> features</li>
                    <li>Present and gifts</li>
                    <li>And many many more...</li>
            </div>

            <div class="vip-owner-container">
                <h2>VIP Owner</h2>
                <p>Paid yearly</p>
                <p>For shop owners to get the most of the benefits of mall-site</p>
                <p><span class="price-premium-monthly">24</span>$/month</p>
                <ul class="list-features">
                    <li>Freely post products on mall-site</li>
                    <li>Freely advertise stores on mall-site</li>
                    <li>Promotions, deals, vouchers priortized</li>
                    <li>Presents and gifts</li>
                    <li><span class="VIP">VIP</span> features</li>
                    <li>Personal hotline to adminsistrator</li>
                    <li>And many many more...</li>
                </ul>
            </div>

            <div class="premium-owner-container">
                <h2>Premium owner</h2>
                <p>Paid monthly</p>
                <p>For shop owners to experience the benefits of mall-site</p>
                <p><span class="price-premium-monthly">30</span>$/month</p>
                <ul class="list-features">
                    <li>Freely post products on mall-site</li>
                    <li>Freely advertise stores on mall-site</li>
                    <li>Promotions, deals, vouchers priortized</li>
                    <li>Presents and gifts</li>
                    <li>And many many more...</li>
                </ul>
            </div>
        </main>
        <footer>
            <div class="footer">
                <ul>
                    <div class="footer_content">
                        <div class="footer_content_policies">
                            <li>
                                <p><a href="term_of_service.html">Policies</a>
                                </p>
                            </li>
                            <br><br>
                        </div>
                        <div class="footer_content_faq">
                            <li>
                                <p><a href="faq.html">FAQ</a>
                                </p>
                            </li> 
                            <br></br>
                    </div>
                </ul>
                <div class="copyright">
                    <small>Copyright &copy; 2021, Group Assignment</small>
                </div>
            </div>
        </footer>
    </body>
</html>