/* HEADER */

* {
	margin: 0;
	padding: 0;
}

#header .wrapper {
	width: 100%;
	margin: 30px auto;
}

.store_name {
    text-align: center;
}


#header .home_store_header .wrapper .logo picture a img {
    max-width: 100px;
    float: left;
    position: relative;
    background-color: white;
    padding: 10px;
    margin: 10px;
    left: 12%;
    top: 5%;
    position: absolute;
    
}  



#header .home_store_header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: relative;
	text-align: center;
    margin-bottom: 30px;
}

#header .home_store_header_fl_item{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    #header .home_store_header .wrapper nav {
	    float: right;
        width: 100%;
    }
}
#header .home_store_header .wrapper nav a {
	text-decoration: none;
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
	margin: 20px;
	color: #fff;
}
#header .home_store_header .wrapper nav a:hover{
    color: lightblue;
}

/* HEADER END */
/* MAIN */

#main_section .sub_title h1{
    color: black;
    font-style: italic;
    margin: 10px;
    padding: auto;
    font-size: 1.5rem;
    text-align: center;
}

#main_section .new-product-section {
    text-align: center;
}

#main-section .new_product_section .new-items a {
    color: black;
    text-decoration: none;
}


#main_section .new-product-section .new-items {
    display: inline-block;
    border-radius: 10px;
    border: 3px solid black;
    height: 350px;
    width: 300px;
    text-align: center;
    margin: 40px;
    padding: 30px;
    background-color: lightcoral;
}

#main_section .new-items-img {
    top: 20px;
    padding-bottom: 15px;
}

#main_section.new-items-title {
    margin: auto;
}

#main_section .new-items-price {
    position: relative;
    margin: auto;
    padding: 20px;
}

#main_section .new-items-button {
    position: relative;
    top: -5px;
    margin: auto;
    height: 30px;
    width: 140px;
    border-radius: 5px;
    border: 3px solid black;
    text-align: center;

}

#main_section .button-name {
    position: relative;
    bottom: 5px;
    margin: auto;
    padding: 10px;
}



/* MAIN END */
/* FOOTER */

*{
    margin: 0;
    padding: 0;
}

#footer .footer1 {
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background: #262626;
    margin-top: 20px;
}

#footer .footer1 .footer_content a{
    text-decoration: none;
    color:#fff ;
    font-size: 1.5rem;
}

#footer .footer1 .footer_content{
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

#footer .footer1 .footer_content {
    display: flex;
    justify-content: center;

}
#footer .footer1 .footer_content li {
    list-style: none;
    padding: 20px;
}

#footer .footer1 .footer_content a:hover{
    color: lightblue;
}

#footer .footer1 .copyright{
    font-size: 1rem;
    color: lightcoral;
    padding-bottom: 10px;
}

#footer .footer1 .copyright{
    display: flex;
    justify-content: center;
}

/* FOOTER END */